body{
    background-image: url(imgs/cineminha02.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    align-items: center;
}
h1{ 
    font-size: 45px ;
    text-align: center;
    color: white;
    font-family: Arial;
    margin-top: 0%;
}
a{
    color: white;
    font-size: 40px;
    align-items: center;
    font-family: Arial;
}
