body{
    background-image: linear-gradient(to bottom, cyan,lightblue);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#section1{
    background-color: darkcyan;
    width: 30%;
    height: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    margin: 20px 0px;
    float: left;
}
#section2{
    background-color: darkcyan;
    width: 60%;
    height: 20%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    float: right;
    margin: 20px 5px;
}
form{
    text-align: center;
    margin: 10px auto;
}
form > h1{
    font-size: 40px ;
}
label{
    font:italic normal 20px 'arial';
    text-align:left ;
    margin: 5px 0px;
}
input{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    color: darkblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}
#buttom{
    background-image: linear-gradient(to bottom, rgb(0, 180, 180), white);
    padding: 13px;
    width: 200px;
    border: none;
    outline: none;
    color: black;
    font:normal bold 20px 'arial';
    margin-top: 20px;
    font: normal bold 18px 'arial';
}
#buttom:hover{
    background-color: rgb(195, 248, 255);
    color: darkred;
    cursor: pointer;
}
table{
    width: 90%;
    margin: auto;
}
tr{
    height: 25px;
    margin: 10px 10px ;
    text-align: center;
    border-radius: 8px ;
}
#title1{
    background-image: linear-gradient(to top, darkcyan,lightcyan);
    font: italic bold 20px 'arial';
}
#title2{
    background-color: rgba(224, 255, 255, 0.432);
    font: italic bold 15px 'arial';
}
td{
    border-radius: 8px ;
    padding: 8px 20px;
    
}
a{
    background-image: linear-gradient(to bottom, rgb(0, 180, 180), white);
    color: black;
    padding: 5px;
    border-radius: 8px;
    border: none;
    outline: red;
    margin: 0px 10px;
    text-decoration: none;
    font: italic bold 18px 'arial';
}
a:hover{
    text-decoration: black;
}
