body{
    background-image: url(imgs/pet-shop-3.jpg);
}
form{
    align-Items: center;
    background-color: rgba(0, 255, 255, 0);
    width: 500px;
    margin: auto;   
    padding: 10px;
    box-shadow:  3px 3px 5px black;
    font-size: 25px;
    font-style: italic;
    color: black;

}
h1{
    font-size: 50px ;
    text-align: center;
    color: black;
}